/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
    @include imgstyle;
    margin-top: 10px;
    max-width: 100%; 
    max-height: 100%;
  }
  
  .img-frame {
    @include imgstyle;
    margin-top: 10px;
    max-width: 100%;
    padding: 13px;
    border: 1px solid $color-border;
  }
  
  .img-logo {
    @include imgstyle;
  }
  